@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  text-decoration: none;
}


:root{
  --main-color: #a49393;
  --sec-color: #3a3939;
  --text-color: #67595E;
  --bg-color: #eed6d3;
  --marquee-width: 100vw;
  --marquee-height: 20vh;

  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }

  html{
    scroll-behavior: smooth;
  }

body{
  color: var(--text-color);
  user-select: none;
  overflow-x: hidden;
}

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

/* Buutons */

button.shop_btn {
  background-color: var(--bg-color);
  border: none;
  padding: 10px 25px;
  margin-top: 1rem;
  border-radius: 4px;
  color: var(--sec-color);
  cursor: pointer;
}

button.shop_btn.above_btn {
  border: 1px solid var(--sec-color);
}

button.shop_btn a{
  color: var(--sec-color);
}


button.shop_btn:hover{
  background-color: var(--sec-color);
  color: var(--bg-color);

}
button.shop_btn:hover,
button.shop_btn:hover a {
  color: var(--bg-color);
}

@media only screen and (max-width: 600px) {
  .shop_btn {
      color: var(--sec-color);
  }
}
/* MODAL - Extern */
.externModal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content_extern {
  background-color: var(--bg-color);
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.modal_header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.modal-content h2{
  font-size: 18px;
}
.close {
  color: var(--sec-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


img{
  width: 100%;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  z-index: 100;
}


.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--sec-color);
  text-transform: uppercase;
}

.logo span {
  color: var(--main-color);
}

#cart-icon{
  font-size: 2.2rem;
  cursor: pointer;
}

.cart-icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer; 
}

.cart-count {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
}

.cart-icon_box:hover .cart-count {
  pointer-events: auto; 
}

/* Modal */

.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: 10% auto;
  position: relative;
  text-align: center;
}

.modal-content.success {
  background: var(--main-color); 
  color: var(--sec-color); 
  border: 1px solid var(--sec-color);
}

#alertModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#alertModal .modal-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: 10% auto;
  position: relative;
  text-align: center;
}

#alertModal .modal-content.alert {
  background: var(--main-color); 
  color: var(--sec-color); 
  border: 1px solid var(--sec-color);
}


#alertSecModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#alertSecModal .modal-content {
  background: var(--bg-color);
  padding: 20px;
  width: 300px;
  margin: 10% auto;
  position: relative;
  text-align: center;
}

#alertSecModal .modal-content.alert {
  background: var(--main-color); 
  color: var(--sec-color); 
  border: 1px solid var(--sec-color);
}
/* HERO */

.hero{
  
  background-color: var(--main-color);
  display: flex;
  padding: 3rem 0;
}

.container.hero_box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}

h1{
  color: #FFF;
  margin: 1rem 0;
}

p.hero_description {
  color: #FFF;
  font-size: 18px;
}

@media (max-width:1080px){
  h1 {
   font-size: 18px;
}
p.hero_description {
  font-size: 14px;
}
}

@media (max-width:820px){
  .container.hero_box {
    flex-direction: column-reverse;
}
}

@media (max-width:480px){
  h1 {
    font-size: 16px;
}

p.hero_description {
  font-size: 12px;
}
}

@media (max-width:360px){
  h1 {
    text-align: center;
}

svg {
margin: 0 auto;
display: flex;
}
}

/* Marquee */

.marquee {
  width: var(--marquee-width);
  background-color:var(--bg-color);
  color: var(--sec-color);
  overflow: hidden;
  position: relative;
  height: 80px;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #eed6d3 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #eed6d3 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: 22px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
  .marquee {
   
    height: 50px;
}
.marquee-content li {
  font-size: 20px;
}
}

/* SWITCH TAB- welcome */

.welcome{
  padding: 3rem 0 2rem;
}

h2.wecome_title {
  text-align: center;
  margin-bottom: 3rem;
}

.tab-container {
  border: 1px solid var(--main-color);
  text-align: center;
  padding: 3rem;
}
.tab-button {
  background-color: var(--bg-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--sec-color);
  font-size: 18px;
  font-weight: 600;
}
.tab-button.active {
  background-color: var(--sec-color);
  color: var(--bg-color);
}
.tab-content {
  display: none;
  margin-top: 1rem;
  color: var(--sec-color);
}

.tab-content.active {
  display: block;
}

@media (max-width:1080px){
  .tab-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-button{
  font-size: 16px;
}
}

@media (max-width:860px){
  

.tab-button{
  font-size: 14px;
}
}
@media (max-width:780px){
.tab-buttons {
 
  flex-direction: column;
  gap: 20px;
}
}
/* CART */
.shop {
  padding: 4rem 0 3rem;

}
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  /*right: 0;*/
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: var(--bg-color);
  box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
  border: 1px solid var(--main-color);
  transition: 1.5s;
}

.cart.active{
  right: 0;
  transition: .5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.detail-box{
  display: grid;
  row-gap: .5rem;
}

.cart-product-title{
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border: 1px solid var(--text-color);
  outline-color:var(--main-color);
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color: var(--main-color);
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid var(--text-color);
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: .5rem;
}

.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: var(--sec-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover{
  background-color: var(--text-color);
}


#cart-close{
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

/* SHOP */

.shop{
  margin-top: 2rem;
}

.section-title{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box{
  position: relative;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid var(--text-color);
  transition: .4s;
}

.product-img{
  width: 100%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.product-price{
  font-weight: 500;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}

.add-cart:hover{
  background-color: #5f5a7b;
}

@media (max-width:1080px){
  .nav{
    padding: 15px;
  }

  .container{
    width: 90%;
    margin: 0 auto;
  }

  .shop{
    padding: 3rem 0 2rem;
    margin-top: 2rem;
  }

}

@media (max-width:400px){
  .nav{
    padding: 11px;
  }

  .logo{
    font-size: 1rem;
  }

  .cart{
    width: 320px;
  }
}

@media (max-width:360px){
  .shop{
    margin-top: 1rem;
  }
  .cart{
    width: 280px;
  }
}

/* FAQ */
section.faq {
  padding: 3rem 0;
  background-color: var(--bg-color);
}

.faq_box {
  width: 700px;
  margin: 0 auto;
}

h2.title_faq {
  text-align: center;
  margin-bottom: 4rem;
} 

.question {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--sec-color);
  padding-bottom: 20px;
}

.question_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
} 

.question h2 {
  font-size: 18px;
  color: var(--sec-color);
}

.answer {
  margin-top: 5px;
  font-size: 16px;
  color: var(--sec-color);
  display: none;
}

.answer.show {
  display: block;
}

.minus_icon {
  display: none; 
}

.question_header .plus_icon {
  display: block; 
}

.question_header .minus_icon {
  display: none; 
}

@media (max-width:780px){
  .faq_box {
    width: 500px;
  }
  .question h2 {
    font-size: 16px;
   
  }
  .answer {
   font-size: 14px;
}
}

@media (max-width:520px){
  .question_header {
  
    align-items: start; 

}
  .faq_box {
    width: 370px;
  }
}

@media (max-width:420px){

  .faq_box {
    width: 320px;
  }
  .question h2 {
    font-size: 14px;
   
  }
  .answer {
   font-size: 12px;
}
}


/* Swiper -reviews*/

section.reviews {
  padding: 3rem 0;
}
h2.title_rev {
  text-align: center;
  margin-bottom: 3rem;
}

.rev-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 440px;
  width: 320px;
  position:relative;
  background:#FFF;
  align-items: center;
}
@media (max-width: 750px) {
   .rev-wrapper {
       min-height: 420px;
      width: 320px;
      margin: 0 auto;
  }
  img.rev-img {
     width: 120px;
    height:120px;

}
}

svg.stars {
 margin-top:24px;
 margin-bottom:12px;

}

img.rev-img {
  width: 120px;
  height: 120px;
}

h3.rev-title {
  color:  var(--sec-color);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  text-transform: uppercase;
   margin-bottom:12px;

}
p.rev-txt {
 color: var(--sec-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
     width: 260px;

}  

@media (max-width: 1020px) {
  .rev-wrapper {
    
    min-height: 386px;
    width: 260px;
    
}
  p.rev-txt {
    font-size: 12px;
    width: 220px;
  }
}

@media (max-width: 900px) {
.rev-wrapper {
  min-height: 380px;
  width: 200px;
}
}
@media (max-width: 600px) {
  h3.rev-title {
    font-size: 12px;
  }
}

.verified-purchase h4 {
  color: var(--sec-color);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

 
/* DOTS */

.rev-dots.swiper-horizontal>.swiper-pagination-bullets, .rev-dots.swiper-pagination-bullets.swiper-pagination-horizontal,.rev-dots.swiper-pagination-custom, .rev-dots.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:58px;
}

 @media (max-width: 640px) {
    .rev-dots.swiper-horizontal>.swiper-pagination-bullets, .rev-dots.swiper-pagination-bullets.swiper-pagination-horizontal,.rev-dots.swiper-pagination-custom, .rev-dots.swiper-pagination-fraction {
 
  margin-top:33px;
}
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px var(--swiper-pagination-bullet-horizontal-gap,2px) !important;
}
.swiper-rev .swiper-pagination-bullet
{
  opacity: 1;
  background: #FFF;
  box-sizing: border-box;
 border:1px solid var(--sec-color);
}

.swiper-rev .swiper-pagination-bullet.swiper-pagination-bullet-active
{
  background: var(--sec-color);
}

.rev-next, .rev-prev{
  position: absolute;
  top: 40%;
  overflow: visible;
  z-index: 1;
  cursor: pointer;
}

.rev-next{
right: 0;
}

.rev-prev{
 left: 0;
}

@media (max-width: 750px) {
  .rev-next{
    right: 20%;
    }
    
    .rev-prev{
     left: 20%;
    }
}

/* About */

.about{
  background-color: var(--bg-color);
  padding: 3rem 0;
}

h3.about_title {
  margin-bottom: 2rem;
  font-size: 26px;
}
.about_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

img.about_img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 10px solid var(--main-color);
  border-radius: 50%;
  padding: 10px;
  outline: 2px solid var(--bg-color);

}

@media (max-width:820px) {
  .about_box{
    flex-direction: column-reverse;
  }
}

@media (max-width:420px) {
  img.about_img {
    width: 300px;
    height: 300px;
  }
}

/* Footer */

footer{
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
   align-items: center;
   padding: 1rem 0;
   gap: 0.5rem;
}

#copyright{
  color: #FFF;
}

/* SCROLL BAR */

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--sec-color);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: var(--text-color);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--main-color);
}
